/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
.profile, .skills, .work, .resume {
	padding:30px 0;
}
.profile h2, .skills h2, .work h2, .resume h2 {
	font-weight:normal;
	color: #39D084;
}
/***** Profile *****/
	.profile h1 {
	color:#39d084;
	font-weight: normal;
}
.profile h3 {
	color:#fff;
	font-weight: normal;
}
.profile p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
.profile .container .span5 {
	padding:40px 0;
}
a.hire-me {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.hire-me:hover {
	text-decoration:none;
	background:#11d170;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
/***** Skills *****/
.skills h2 {
	text-align:left;
	
	
}
.skills .span3 {
	width:280px;
	overflow: hidden;
}
.skills .span5 {
	text-align:left;
	padding:47px 0;
}
.skills .android, .skills .java, .skills .python, .skills .web_desgin , .skills .web_service , .skills .sql{
	padding:25px;
	width:200px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.skills .android {
	background:#30a5dc;
}
.skills .java {
	background:#ee742b;
}
.skills .python {
	background:#f04949;
}
.skills .web_desgin {
	background:#39d084;
}
.skills .web_service {
	background:#119955;
}
.skills .sql {
	background:#8181F7;
}
.skills .android:hover, .skills .java:hover, .skills .python:hover, .skills .web_desgin:hover, .skills .web_service:hover , .skills .sql:hover{
	border:8px solid #fff;
}
.skills .android h3, .skills .java h3, .skills .python h3, .skills .web_desgin h3 , 
.skills .web_service h3 , .skills .sql h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
.skills .android h3,.skills .java h3,
.skills .python h3, .skills .web_desgin h3  , 
.skills .web_service h3 , .skills .sql h3{
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
.skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
.skills .span5 h3 span {
	float:right;
}
.android2 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.java2 {
	width:70%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.python2 {
	width:50%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.web_desgin2 {
	width:65%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
.web_service2 {
	width:65%;
	background:#119955;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
.sql2 {
	width:60%;
	background:#8181F7;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes android2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes java2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes python2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes web_desgin2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
@-moz-keyframes web_service2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
@-moz-keyframes sql2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes android2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes python {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes web_desgin {
0% {
width:0px;
}
100% {
width:70%;
}
}
@-webkit-keyframes web_service {
0% {
width:0px;
}
100% {
width:70%;
}
}
@-webkit-keyframes sql {
0% {
width:0px;
}
100% {
width:70%;
}
}
/**** Work container *****/

ul.work-images li {
	list-style:none;

	display:inline-block;
	margin: 8px 10px;
 background:
}
ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #f04949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img:hover {
	opacity:0.1;
}
/***** Resume container *****/
.resume h3 {
	margin:60px 0;
}
.resume .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
	position: fixed;
	width: 100%;
	bottom:0;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}
